# Port & Environment
PORT=4000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sellflow_db?schema=public"

# JWT Authentication Secret Key
JWT_SECRET="sellflow_super_secret_jwt_key_2026"

# Default SMTP Email Settings (Optional)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_SENDER_NAME="SellFlow Support"
